---
const { data } = Astro.props;
---

<article>
  <a class="card_a" href={`sko/${data.slug}`}>
    <div class="produkt_card">
      <div class="produkttekst">
        <img
          class="produktbillede"
          src={"../img/listeveiw/" + data.produktimg}
          alt={"billede af " + data.produkt_beskrivelse}
        />

        {data.nyhed && <p class="nyhed">Nyhed</p>}
        {data.udsalg && <p class="udsalg">Udsalg</p>}
      </div>

      <div class="produktinfo">
        <h1 class="produktnavn card_h1">{data.produktnavn}</h1>
        <p class="beskrivelselist">{data.sko_variant}</p>
      </div>
      <div class="pris">
        {
          data.beforepris && (
            <p class="before">Før pris: {data.beforepris} DKK</p>
          )
        }

        <p>{data.price}</p>

        <p class="newprice">{data.afterpris} DKK</p>
      </div>
    </div>
    <a href="/kurv"
      ><img class="kurv" src="/img/kurv.svg" alt="billede af indkøbs kurv" /></a
    >
  </a>
</article>

<style>
  .produkttekst {
    position: relative;
  }
  .udsalg {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    text-transform: uppercase;
  }
  .nyhed {
    position: absolute;
    top: 0;
    padding: 5px;
    text-transform: uppercase;
  }
  .produktnavn {
    padding-top: 20px;
    font-weight: bold;
  }
  .produktbillede {
    width: 100%;
    height: 100%;
  }
  .kurv {
    width: 35px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 1%;
  }

  .produktinfo {
    flex-grow: 1;
    padding-bottom: 20px;
  }
  .pris {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-grow: 1;
    position: relative;
  }

  article {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 250px;
  }
  article a {
    text-decoration: none;
  }
  .produkt_card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .before {
    text-decoration: line-through red 2px;
  }

  .beskrivelseslist {
    padding-top: -30px;
  }
</style>
