---
const { data } = Astro.props;
console.log(data);
---

<article>
  <!-- <div class="produkt_card">
    <div class="produkttekst">
      <img class="produktbillede" src="/public/img/placeholder.png" alt="placeholder" />

      <p class="nyhed">{data.nyhed}</p>
      <p class="udsolgt">{data.udsalg}</p>
    </div>
    <div class="card">
      <div class="produktinfo">
        <h1 class="produktnavn card_h1">{data.maerke}</h1>
        <p class="beskrivelse">{data.beskrivelse}</p>
      </div>
      <div class="pris">
        <p class="before">Før {data.beforepris} dkk</p>
        <p class="newprice">{data.afterpris} dkk</p>
      </div>
      <a href="/kurv"> <img class="kurv" src="/public/img/placeholder.png" alt="placeholder" /></a>
    </div>
  </div> -->
</article>

<style>
  .produkttekst {
    position: relative;
  }
  .udsolgt {
    position: absolute;
    right: 0%;
    bottom: 0%;
  }
  .nyhed {
    position: absolute;
    top: 0%;
  }
  .produktnavn {
  }
  .produktbillede {
    width: 250px;
    height: 250px;
  }
  .kurv {
    width: 35px;
    height: 30px;
    right: 0%;
    bottom: 5%;
    position: absolute;
  }
  .produktinfo h2,
  .produktinfo p {
    padding: 20px 0;
  }
  .card {
    position: relative;
  }
  article {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 100%;
  }

  .produkt_card {
    flex-shrink: 1;
  }
  .before {
    text-decoration: line-through red 2px;
  }
</style>
