---
//her henter vi titlen samt header og footer
const { title } = Astro.props;
import Header from "../componets/Header.astro";
import Footer from "../componets/Footer.astro";
const {
  hero_icon,
  hero_img,
  hero_tekst,
  hero_undertekst,
  hero_video,

  hasImg = false,
  hasTekst = false,
  hasUnderTekst = false,
  hasVideo = false,
  hasCarousel = false,
  hasCarouselTekst = false,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" sizes="32x32" href="/img/logok2.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- her er titlen for siden -->
    <link rel="stylesheet" href="/css/general.css" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="billede_med_tekst">
      {hasImg && <img src={hero_img} alt="Hero image" class="hero_img" />}
      {
        hasVideo && (
          <video controls autoplay loop src={hero_video} class="hero_video" />
        )
      }
      {
        hasCarousel && (
          <div class="toej">
            <a href="/sissel_edelbo">
              <div class="toej-slide">
                <img
                  src="/img/sissel_slider_1.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_2.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_3.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_4.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_5.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_6.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_7.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_8.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_9.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_10.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_11.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_12.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_13.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_14.webp"
                  alt="kjole fra Sissel Edelbo"
                />
              </div>
              <div class="toej-slide">
                <img
                  src="/img/sissel_slider_1.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_2.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_3.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_4.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_5.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_6.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_7.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_8.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_9.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_10.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_11.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_12.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_13.webp"
                  alt="kjole fra Sissel Edelbo"
                />
                <img
                  src="/img/sissel_slider_14.webp"
                  alt="kjole fra Sissel Edelbo"
                />
              </div>
            </a>
          </div>
        )
      }

      {
        hasCarouselTekst && (
          <div class="sissel">
            <a href="/sissel_edelbo">
              <div class="sissel-slide">
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
              </div>
              <div class="sissel-slide">
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
                <img src="/img/sissel.svg" alt="Sissel Edelbo - kun i butik" />
              </div>
            </a>
          </div>
        )
      }

      <div class="tekst">
        {hasTekst && <h1 class="hero_tekst">{hero_tekst}</h1>}
        {
          hasUnderTekst && (
            <div class="header_undertekst">
              <h2>{hero_undertekst}</h2>

              <img src={hero_icon} alt="Hero image" class="hero_icon" />
            </div>
          )
        }
      </div>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  /* Billede med tekst */
  .billede_med_tekst {
    display: grid;
    place-items: center;
    position: relative;
  }
  .hero_img {
    display: block;
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  .hero_video {
    display: block;
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  .tekst {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
  }
  .hero_tekst {
    color: var(--offBlack);
    background-color: var(--offWhite);
    padding: 5px 5px;
    border-radius: 2px;
  }

  .header_undertekst {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;

    color: var(--offBlack);
    background-color: var(--offWhite);
    padding: 5px 5px;
    font-weight: normal;
    border-radius: 2px;
  }

  .hero_icon {
    width: 50px;
    height: 50px;
  }

  /***************************** Tøj infinite carousel  ******************************/

  .toej {
    display: block;
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    height: auto;
  }
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .toej {
    overflow: hidden;
    white-space: nowrap;
  }

  .toej:hover .toej-slide {
    animation-play-state: paused;
  }
  .toej-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .toej-slide img {
    width: auto;
    height: 100px;
  }

  /***** Desktop *****/
  @media (min-width: 800px) {
    .toej-slide img {
      height: 200px;
    }
  }

  /***************************** Sissel Edelbo infinite carousel ******************************/

  .sissel {
    display: block;
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .sissel {
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--groen200);
  }

  .sissel-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
  }

  .sissel-slide img {
    width: auto;
    height: 28px;
  }
  /***** Desktop *****/
  @media (min-width: 800px) {
    .sissel-slide img {
      height: 32px;
    }
  }
</style>
