---
//her henter vi titlen samt header og footer
const { title } = Astro.props;
import Header from "../componets/Header.astro";
import Footer from "../componets/Footer.astro";
const { hero_img, hero_tekst, hero_undertekst, hasImg = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- her er titlen for siden -->
    <link rel="stylesheet" href="/public/css/general.css" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <div class="billede_med_tekst">
      {hasImg && <img src={hero_img} alt="Hero image" class="hero_img" />}
      <div class="tekst">
        <h1 class="hero_tekst">{hero_tekst}</h1>
        <h2 class="header_undertekst">{hero_undertekst}</h2>
      </div>
    </div>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  /* Billede med tekst */
  .billede_med_tekst {
    display: grid;
    place-items: center;
    position: relative;
  }
  .hero_img {
    display: block;
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    height: auto;
  }

  .tekst {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 1;
  }
  .hero_tekst {
    color: var(--offBlack);
    background-color: var(--offWhite);
    padding: 5px 5px;
  }

  .header_undertekst {
    color: var(--offBlack);
    background-color: var(--offWhite);
    padding: 5px 5px;
    font-weight: normal;
  }
</style>
